body{
	font-family: 'Roboto Slab', serif;
	background-color: #35C679;
}

ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1F86A4;
}

li{
	float: left;
}

li a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active){
	background-color: #879498;
}