body{
	font-family: 'Roboto Slab', serif;
	background-color: #35C679;
	overflow: auto;
}

header{
	overflow: auto;
}

ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1F86A4;
}

li{
	float: left;
}

li a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active){
	background-color: #879498;
}


section{
	overflow: auto;
	margin-top: 20px;
	background-color: #2c818b;
	padding: 20px;
}

.imagenes{
	width: 300px;
	float: left;
	margin: 02px;
	height: 180px;
	background-color: #ecf7fb;
	padding: 05px;
}

.img_1, 
.img_2,
.img_3,
.img_4{
	width: 300px;
	height: 180px;
}

.parrafo-1,
.parrafo-2{
	display: inline-block;
	float: left;
	width: 550px;
	padding: 20px;
}